body {
    font-family: 'Quicksand';
}

li {
    list-style-type: none;
}

h3 {
    color: rgba( 0, 50, 157, 1 );
    cursor: pointer;
}

.jumbotron {
    background-color: rgba( 0, 50, 157, 1 );
}

.jumbotron h1 {
    color: rgba( 255, 183, 0, 1 );
    font-family: 'Quicksand';
    letter-spacing: -5px;
}

.search, .filter {
    color: white;
    font-size: 5em;
}

.filter {
    margin-top: 20px;
}

input[name='search'] {
    border-radius: 5px;
    border: none;
    height: 30px;
    padding-left: 10px;
    font-family: 'Quicksand';
    font-size: 1.25em;
}

.innerLi {
    font-size: 1.25em;
}

.innerLi strong {
    color: rgba( 255, 183, 0, 1 );
}

.details {
    color: grey;
    padding-bottom: 10px;
    font-size: .8em;
}

.email, .phone {
    color: black;
    text-decoration: none;
}

.email:hover, .phone:hover {
    color: rgba( 0, 50, 157, 1 );
    text-decoration: underline;
}